@{
    ViewData["Dojodachi"] = "Home Page";
}

<div>
    <ul><h6>
        <li>Fullness:   </li>
        <li>Happiness:   </li>
        <li>Meals:   </li>
        <li>Energy:   </li></h6>
    </ul >
</div><br>
<fieldset>
    <legend><h1>Dojodachi</h1></legend>
    <div>
        
    </div>
</fieldset>
<div>
    
    <form class="buttons">
        <button name="feed" type="Feed">Feed</button>
         <button name="play" type="Play">Play</button>
          <button name="work" type="Work">Work</button>
           <button name="sleep" type="Sleep">Sleep</button>
    </form>
    
</div>